<div class="row">
	<div class="col-md-3 text-center">
		<input name="course-code-{{number}}" class="input-text form-control pad-bot" placeholder="Course Code" />
	</div>
	<div class="col-md-7 text-center">
		<input name="course-name-{{number}}" class="input-text form-control pad-bot" placeholder="Course Name" />
	</div>
	<div class="col-md-2 col-xs-6 text-center">
		<input name="grade-{{number}}" class="input-text form-control pad-bot" placeholder="Grade" maxlength="1" />
	</div>
</div>