<div class="row">
	<div class="col-sm-2 text-center">
		<input name="course-code-{{number}}" class="input-text form-control pad-bot" placeholder="Course Code" />
	</div>
	<div class="col-sm-8 text-center">
		<input name="course-name-{{number}}" class="input-text form-control pad-bot" placeholder="Course Name" />
	</div>
	<div class="col-sm-2 col-xs-4 text-center">
		<input name="grade-{{number}}" class="input-text form-control pad-bot" placeholder="Grade" maxlength="1" />
	</div>
</div>