form {
	color: #EEE;
}

legend {
	margin-bottom: 30px;
	font-weight: 400;
	color: #DDD;
}

.control-label {
	font-weight: 300;
	padding: 7px 15px;
}

.control-label > span {
	margin-top: 1px;
	padding: 8.5px 15px;
	border-radius: 5px;
	font-weight: 400;
	//background-color: rgba(40, 40, 40, 0.07);
	//box-shadow: 1px 1px 1px 0px rgba(30, 30, 30, 0.25) inset;
}

.pad-bot {
	margin-bottom: 15px;
}

input[type="file"].form-control {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

.file-input-label > span {
	box-shadow: 0 1.5px 1px -1px #303030;
	background-color: rgba(40, 40, 200, 0.3);
	transition: box-shadow 0.25s, background-color 0.15s;
}

.file-input-label > span:hover {
	cursor: pointer;
	background-color: rgba(40, 40, 200, 0.7);
	box-shadow: 0 1.5px 1px 0px #202020;
}

input[type="file"].form-control:focus ~ .file-input-label > span {
	background-color: rgba(40, 40, 200, 0.7);
	box-shadow: 0 1.5px 3px 0px #202020;
}

.input-text.form-control {
	padding: 7px 15px;
	border: 0;
	border-radius: 5px;
	
	background-color: rgba(40, 40, 40, 0.07);
	color: #EEE;
	box-shadow: 0 1.5px 1px -1px #303030;
	
	transition: box-shadow 0.25s;
}

.input-text.form-control:invalid {
	background-color: rgba(200, 40, 40, 0.4);
}

.input-text.form-control:invalid ~ .input-group-addon {
	background-color: rgba(200, 40, 40, 0.4);
	color: black;
}

.input-group-addon {
	position: relative;
	border: 0;
	background-color: rgba(40, 40, 40, 0.07);
	box-shadow: 0 0.5px 1px 0px #303030;
	color: #CCC;
	transition: box-shadow 0.25s;
}

.icon-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 6px;
	transform: translate(-50%, -50%);
	font-size: 0.8em;
	font-weight: 500;
	border-radius: 100%;
	border: 1px solid #CCC;
}

.form-control::-webkit-input-placeholder {
	color: #AAA;
	position: relative;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

.form-control:-moz-placeholder {
	color: #AAA;
	position: relative;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

.form-control::-moz-placeholder {
	color: #AAA;
	position: relative;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

.form-control:-ms-input-placeholder {
	color: #AAA;
	position: relative;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

.form-control:hover::-webkit-input-placeholder {
	font-size: 1.15em;
	transition: font-size 0.15s;
}

.form-control:hover:-moz-placeholder {
	font-size: 1.15em;
	transition: font-size 0.15s;
}

.form-control:hover::-moz-placeholder {
	font-size: 1.15em;
	transition: font-size 0.15s;
}

.form-control:hover:-ms-input-placeholder {
	font-size: 1.15em;
	transition: font-size 0.15s;
}

.input-text.form-control:focus {
	outline: none;
	border: 0;
	box-shadow: 0 1.5px 3px 0px #202020;
}

.input-text.form-control:focus ~ .input-group-addon {
	box-shadow: 0 1.5px 3px 0px #202020;
}

.form-control:focus::-webkit-input-placeholder {
	font-size: 0.2em;
	padding-left: 20px;
	opacity: 0;
	color: #028482;
	visibility: hidden;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

.form-control:focus:-moz-placeholder {
	font-size: 0.2em;
	padding-left: 20px;
	opacity: 0;
	color: #028482;
	visibility: hidden;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

.form-control:focus::-moz-placeholder {
	font-size: 0.2em;
	padding-left: 20px;
	opacity: 0;
	color: #028482;
	visibility: hidden;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

.form-control:focus:-ms-input-placeholder {
	font-size: 0.2em;
	padding-left: 20px;
	opacity: 0;
	color: #028482;
	visibility: hidden;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

.round-button {
	width: 45px;
	height: 45px;
	margin: 0 6px;
	border: 0;
	border-radius: 100%;
	font-size: 2em;
	line-height: 1px;

	background-color: rgba(40, 40, 200, 0.3);
	box-shadow: 0px 1.5px 1px -1px #303030;

	transition: box-shadow 0.25s, background-color 0.15s;
}

.round-button.red {
	background-color: rgba(200, 40, 40, 0.3);
}

.round-button:hover {
	background-color: rgba(40, 40, 200, 0.7);
	box-shadow: 0px 1.5px 3px 0px #101010;
}

.round-button.red:hover {
	background-color: rgba(200, 40, 40, 0.85);
}

.round-button:focus {
	outline: none;
	background-color: rgba(40, 40, 200, 0.85);
	box-shadow: 0px 1.5px 3px 0px #101010;
}

.round-button.red:focus {
	background-color: rgba(200, 40, 40, 0.7);
}

.round-button:disabled {
	background-color: rgba(40, 40, 40, 0.07);
	box-shadow: 0px 1.5px 1px -1px #303030;
}

.round-button.red:disabled {
	background-color: rgba(40, 40, 40, 0.07);
}

.button {
	padding: 7px 15px;
	border: 0;
	border-radius: 5px;
	font-style: Roboto;
	font-weight: 400;
	font-size: 1.1em;

	background-color: rgba(40, 40, 200, 0.3);
	box-shadow: 0 1.5px 1px -1px #303030;

	transition: box-shadow 0.25s, background-color 0.15s;
}

.button:hover, .button:focus {
	outline: none;
	background-color: rgba(40, 40, 200, 0.7);
	box-shadow: 0 1.5px 3px 0px #202020;
}