form {
	color: #EEE;
}

legend {
	font-weight: 400;
	margin-bottom: 30px;
	color: #DDD;
}

.control-label {
	//margin-right: 17px;
	font-weight: 300;
	color: #EEE;
	padding: 7px 15px;
}

label > span {
	margin-top: 1px;
	padding: 8.5px 15px;
	border-radius: 5px;
	//border: 1px solid black;
	//background-color: rgba(40, 40, 40, 0.07);
	//box-shadow: 1px 1px 1px 0px rgba(30, 30, 30, 0.25) inset;
	font-weight: 400;
}

.control-label-addon {
	padding: 0 3px;
	color: #CCC;
}

.input-text.form-control {
	padding: 7px 15px;
	border: 0;
	border-radius: 5px;
	
	background-color: rgba(40, 40, 40, 0.07);
	color: #EEE;
	box-shadow: 0 1.5px 1px -1px #303030;
	
	transition: box-shadow 0.25s;
}

input[type="file"].form-control {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

.file-input-label > span {
	box-shadow: 0 1.5px 1px -1px #303030;
	background-color: rgba(40, 40, 200, 0.3);
	transition: box-shadow 0.25s, background-color 0.15s;
}

.file-input-label > span:hover {
	cursor: pointer;
	background-color: rgba(40, 40, 200, 0.7);
	box-shadow: 0 1.5px 1px 0px #202020;
}

input[type="file"].form-control:focus ~ label > span {
	background-color: rgba(40, 40, 200, 0.7);
	box-shadow: 0 1.5px 3px 0px #202020;
}

.input-text.form-control:invalid {
	background-color: rgba(200, 40, 40, 0.4);
	//box-shadow: 0 1.5px 3px 0px red;
}

.input-text.form-control:invalid ~ .input-group-addon {
	background-color: rgba(200, 40, 40, 0.4);
	color: black;
}

div:not(.input-group) > .input-text.form-control {
	box-shadow: 0 1.5px 1px -1px #303030;
}

.input-group-addon {
	border: 0;
	background-color: rgba(40, 40, 40, 0.07);
	box-shadow: 0 0.5px 1px 0px #303030;
	color: #CCC;
	transition: box-shadow 0.2s;
}

input.form-control::-webkit-input-placeholder {
	color: #AAA;
	position: relative;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

input.form-control:-moz-placeholder {
	color: #AAA;
	position: relative;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

input.form-control::-moz-placeholder {
	color: #AAA;
	position: relative;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

input.form-control:-ms-input-placeholder {
	color: #AAA;
	position: relative;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

input:hover::-webkit-input-placeholder {
	font-size: 1.15em;
	transition: font-size 0.15s;
}

input:hover:-moz-placeholder {
	font-size: 1.15em;
	transition: font-size 0.15s;
}

input:hover::-moz-placeholder {
	font-size: 1.15em;
	transition: font-size 0.15s;
}

input:hover:-ms-input-placeholder {
	font-size: 1.15em;
	transition: font-size 0.15s;
}

.input-text.form-control:focus {
	outline: none;
	border: 0;
	box-shadow: 0 1.5px 3px 0px #202020;
}

div:not(.input-group) > .input-text.form-control:focus {
	box-shadow: 0 1.5px 3px 0px #202020;
}

.input-text.form-control:focus ~ .input-group-addon {
	box-shadow: 0 1.5px 3px 0px #202020;
}

input:focus::-webkit-input-placeholder {
	font-size: 0.2em;
	padding-left: 20px;
	opacity: 0;
	color: #028482;
	visibility: hidden;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

input:focus:-moz-placeholder {
	font-size: 0.2em;
	padding-left: 20px;
	opacity: 0;
	color: #028482;
	visibility: hidden;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

input:focus::-moz-placeholder {
	font-size: 0.2em;
	padding-left: 20px;
	opacity: 0;
	color: #028482;
	visibility: hidden;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}

input:focus:-ms-input-placeholder {
	font-size: 0.2em;
	padding-left: 20px;
	opacity: 0;
	color: #028482;
	visibility: hidden;
	transition: font-size 0.5s, padding 0.5s, opacity 0.5s, visibility 0.5s, color 0.2s;
}