.navbar {
	background-image: url("../images/nav.png");
	text-align: center;
}

.nav-pills {
	width: 100%;
	text-align: center;
}

.nav-pills li {
	margin: 0 !important;
	float: none;
	display: inline-block;
}

.nav-pills li a {
	height: 50px;
	margin: 15px 60px;
	padding: 0 30px;
	line-height: 50px;
	border-radius: 10px;

	font-size: 1.2em;

	border: 2px solid transparent;
	background-color: #EEE;
	color: #333;
	box-shadow: 1px 2px 3px #222;

	transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.nav-pills li a::after {
	position: absolute;
	content: "";
	width: 60px;
	height: 10px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #EEE;
	border-top: 2px solid #444;
	border-bottom: 2px solid #444;
	transition: background-color 0.5s;
}

.nav-pills li a.left::after {
	left: calc(100% + 2px);
	transform: translateY(calc(-50% + 2px));
}

.nav-pills li a.right::after {
	left: -2px;
	transform: translate(-100%, calc(-50% + 2px));
}

.nav-pills li a::before {
	position: absolute;
	top: calc(25% + 14px);
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	line-height: 40px;
	font-size: 0em;
	border-radius: 100%;
	background-color: white;
	box-shadow: 1px 2px 3px #222;
	color: black;
	opacity: 0;
	transition: width 0.5s, height 0.5s, top 0.5s, opacity 0.5s, font-size 0.5s;
}

.nav-pills li a.left::before {
	content: "1";
}

.nav-pills li a.right::before {
	content: "2";
}

.nav-pills li a:hover {
	cursor: pointer;
}

.nav-pills li.active a {
	border: 2px solid #444;
	background-color: #202020;
	transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.nav-pills li.active a:hover {
	background-color: #202020;
}

.nav-pills li.active a::after {
	background-color: #202020;
}

.nav-pills li.active a::before {
	top: calc(100% + 14px);
	width: 40px;
	height: 40px;
	font-size: 1em;
	border: 2px solid #444;
	color: white;
	background-color: #202020;
	opacity: 1;
}